# npmでインストールしたパッケージ
node_modules/


# TypeScriptのコンパイル結果
dist/


# 環境変数・秘密情報
.env
.env.*


# Vercelがローカルで作成する設定情報
.vercel/


# npmのエラーログ
npm-debug.log*

# 拡張子が .bak のすべてのファイルを除外
*.bak

# プロジェクト直下の npm-debug.log を除外
/npm-debug.log

# プロジェクト直下の bin フォルダーを除外
/bin/